<h1>
  Agregar
  Libro
</h1>

<mat-divider class="mb-2"> </mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <div class="grid">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Título</mat-label>
            <input matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Autor</mat-label>
            <input matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Género</mat-label>
            <mat-select required>
              <mat-option *ngFor="let theme of themes"
              [value]="theme.id">
              {{ theme.id }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="flex justify-content-between">
          <mat-form-field class="col-6">
            <mat-label>Leído</mat-label>
            <mat-select required>
              <mat-option *ngFor="let resp of biRes"
              [value]="resp.id">
              {{ resp.id }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="spacer"></span>
          <mat-form-field class="col-6">
            <mat-label>Lo tienes</mat-label>
            <mat-select required>
              <mat-option *ngFor="let resp of biRes"
              [value]="resp.id">
              {{ resp.id }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>

        </div>
        <div class="flex justify-content-between">
          <button
            mat-flat-button
            color="primary"
            >
            Borrar
          </button>

          <button
            mat-flat-button
            > Guardar
            <mat-icon>save</mat-icon>
          </button>
        </div>


      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img src="imagen" alt="Imagen " mat-card-image/>
    </mat-card>

  </div>

</div>

