<h1 *ngIf="!newBook.id">
  Agregar Libro
</h1>
<div *ngIf="newBook.id">
  <h1>
    Modificar Libro
  </h1>
  <sub>
    {{ newBook.title | uppercase }}
  </sub>

</div>

<mat-divider class="mb-2"> </mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <form class="grid" [formGroup]="bookForm" (ngSubmit)="onSumbit()">

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Título</mat-label>
            <input matInput
              type="text"
              required
              formControlName="title"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Autor</mat-label>
            <input matInput
              type="text"
              required
              formControlName="author"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Fecha de publicación</mat-label>
            <input matInput
              type="text"
              required
              formControlName="release"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Género</mat-label>
            <mat-select
             formControlName="theme"
             required
              >
              <mat-option *ngFor="let theme of themes"
              [value]="theme">
              {{ theme }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Imagen</mat-label>
            <input matInput
              type="text"
              required
              formControlName="img"
            />
          </mat-form-field>

          <mat-checkbox class="col-12 sm:col-6"
            formControlName="readed">
            <mat-label (click)="this.toggleBool(this.readed)">Leído</mat-label>
          </mat-checkbox>

          <mat-checkbox class="col-12 sm:col-6"
            formControlName="owned">
            <mat-label (click)="this.toggleBool(this.owned)">¿Lo tienes?</mat-label>
          </mat-checkbox>

        </form>

        <div class="flex justify-content-between">
          <button
          *ngIf="newBook.id"
            mat-flat-button
            color="primary"
            (click)="onDeleteBook()"
            >
            Borrar
            <mat-icon>delete</mat-icon>
          </button>

          <button
            mat-flat-button
            color="primary"
            (click)="onSumbit()"
            > Guardar
            <mat-icon>save</mat-icon>
          </button>
        </div>


      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img [src]="newBook | bookImage" [alt]="newBook.title" mat-card-image/>
    </mat-card>

  </div>

</div>
